* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: #ededed;
}

#menu {
    width: 100%;

    height: 80px;
    border: 2px solid #727272;
    display: flex;
    flex-wrap: wrap;
    position: static;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 2px darkgray;
    background-color: #2aabda;
}

#menu div {
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#menu div img {
    width: 100%;
    height: 100%;
}

#menu a button, #buttonAdmin button {
    width: 120px;
    height: 50px;
    color: #320E3B;
    font-weight: bold;
    border-radius: 10px;
}

#menu a button:hover, #buttonAdmin button:hover {
    color: #d00016;
}

#menu a button:nth-child(0) {
    margin-left: 5%;
}

#time {
    width: 15% !important;
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

.formUser {
    width: 50%;
    height: auto;
    border: 5px solid #727272;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #d00016;
    margin: 5% auto;
    box-shadow: 3px 3px 3px darkgray;
}

.formUser form, .articleForm form {
    width: 100%;
}

.formUser form div, .articleForm, .articleForm form div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formUser form div label, .formUser h2 {
    color: white !important;
}

.formUser form div label, .articleForm form div label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #320E3B;
    font-weight: bold;
    margin-top: 2%;
}

.formUser form div input, .articleForm form div input {
    width: 50%;
    height: 30px;
    text-align: center;
    font-size: 2rem;
    margin-top: 2%;
}

h2 {
    margin-top: 2%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    text-decoration-line: underline;
    color: #320E3B;
}

.formUser form div label span {
    display: block;
    color: darkgray;
    font-size: 1.5rem;
}

.sendForm {
    margin-bottom: 2%;
}

.errorGreen, .errorRed {
    width: 100%;
    height: 50px;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.errorGreen {
    background-color: greenyellow;
}

.errorRed {
    background-color: crimson;
}

#welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
}

h1 {
    width: 100%;
    font-size: 4rem;
    color: #320E3B;
    text-align: center;
    margin-top: 3%;
    text-decoration-line: underline;
}

.articleHome {
    width: 100%;
    border: 2px solid #320E3B;
    border-radius: 10px;
    background-color: #d00016;
    box-shadow: 5px 5px 3px darkgray;
}

.articleHome:last-child {
    margin-bottom: 2%;
}

.articleHome h3, .articleHome p {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.articleHome h3 {
    font-size: 2.5rem;
    margin-top: 2%;
    text-decoration-line: underline;
}

.articleHome p {
    font-size: 1.5rem;
    margin: 2% 0;
}

#buttonAdmin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 15%;
    margin: 1% 0 0 0;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.articleForm form div textarea {
    width: 40%;
    padding: 1%;
    margin-top: 2%;
}

.articleForm form div #content {
    height: 200px;
}

.articleForm form div input {
    width: 40%;
}

.articleDiv {
    width: 70%;
    margin: 2% auto 0 auto;
}

article, #comment {
    width: 70%;
    margin: 2% auto;
    padding: 1%;
    background-color: white;
    box-shadow: -3px -3px 3px darkgray;
}

article h2 {
    font-size: 5rem;
}

article h3 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 2%;
}

article p {
    width: 100%;
    font-size: 2rem;
    margin-top: 2%;
    text-align: justify;
}

article span {
    display: block;
    text-align: right;
    width: 100%;
    margin-top: 3%;
}

#supButton {
    width: 40%;
}

#supButton input {
    margin-top: 0;
    width: 100%;
}

#comment textarea {
    display: block;
    width: 80%;
    margin-top: 2%;
    padding: 1%;
}

#comment form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#comment input {
    width: 80%;
}

.comment {
    width: 80%;
    margin: 2% auto 0 auto;
    box-shadow: -2px 2px 2px darkgray;
    border: 1px solid darkgray;
    display: flex;
    flex-wrap: wrap;
}

.comment span {
    font-size: 1.5rem;
    height: auto;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 15%;
}

.comment span:first-child {
    border-right: 1px solid darkgray;
}

.comment .commentText {
    width: 60% !important;
}

.buttonComment {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

.buttonComment a {
    width: 100%;
}

.buttonComment button {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1220px) {
    #menu a button, #buttonAdmin button {
        width: 80px;
        font-size: 1rem;
    }

    .articleForm form div textarea {
        width: 80%;
    }
}

@media screen and (max-width: 910px) {
    article, #comment, .articleDiv {
        width: 100%;
        margin-top: 0;
    }
    html {
        font-size: 50%;
    }

    #menu a button, #buttonAdmin button {
        font-size: 1.5rem;
    }

    #time {
        display: none !important;
    }

    #menu div {
        width: 33%;
    }

    .formUser {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 40%;
    }

    #menu a button, #buttonAdmin button {
        width: 60px;
        font-size: 1.5rem;
    }
}